<% if @article.errors.any? %>
    <div class="container alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
        <h4 class="alert-heading">Errors: </h4>
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
            <% end %>
        </ul>
    </div>
<% end %>