<div class="container" id="home-container">
    <div class="text-center bg-image rounded-3" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); height: 100%;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 450px;">
                <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Hello, world!</h1>
                    <h4 class="mb-3">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</h4>
                    <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
                </div>
            </div>
        </div>
    </div>
</div>
